@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

$orange: rgb(226, 134, 37);
$cyan: hsl(184, 100%, 22%);
$dark-cyan: hsl(179, 100%, 13%);

$paragraphs-color: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
}

h2 {
  color: $light-gray;
  font-family: "Big Shoulders Display", cursive;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: auto;
}

p {
  color: $paragraphs-color;
  line-height: 25px;
  font-weight: normal;
  font-size: 15px;
}

.btn {
  cursor: pointer;
  background-color: $light-gray;
  border: none;
  font-size: 1rem;
  line-height: 25px;
  padding: 0 2rem;
  height: 48px;
  border-radius: 50px;

  &--sedans {
    color: $orange;
  }
  &--suvs {
    color: $cyan;
  }
  &--luxury {
    color: $dark-cyan;
  }

  &:hover {
    background-color: transparent;
    border: 2px solid $light-gray;
    color: $light-gray;
  }
}

.wrapper {
  min-width: 375px;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 3rem 6rem 3rem 10vw;

  &--sedans {
    background-color: $orange;
  }
  &--suvs {
    background-color: $cyan;
  }
  &--luxury {
    background-color: $dark-cyan;
  }
  &__title {
    h2 {
      margin-bottom: 0px;
    }
  }
  &__content {
    p {
      margin: 2rem 0;

    }
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    height: 100vh;
  }
  .card {
    padding: 0 3rem 0 3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__content {
      p {
        margin: 2rem 0 4rem 0;
      }
    }
  }
}
